@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial;
}


/* Animated line on side layout menus */
.c02136 {
  width: 1px;
  height: 157px;
  background: #ffffff;
  position: absolute;
  right: 10px; 
  bottom: 0px;
  z-index: 100;
  transform-origin: top;
  animation: c02137 2s infinite;
  /* animation: c02137 2.5s cubic-bezier(0.79, 0, 0.15, 0) infinite; */
}

@keyframes c02137 {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  40% {
    transform: scaleY(1);
    transform-origin: top;
  }
  40.1% {
    transform-origin: bottom; /* Instantly flip processing origin anchors at peak maturity point */
  }
  60% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

#note-input::-webkit-scrollbar {
  display: none;
}


